*:focus {
    outline: 1px solid rgb(119, 99, 136);
}

* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    display: flex;
    min-width: 100%;
}

header {
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid rgb(255, 123, 0);
    padding: 0px 0px 2px 0px;
}

#toggle-sidenav {
    font-size: 26px;
    position: absolute;
    left: 0px;
}

#toggle-sidenav:hover {
    cursor: pointer;
    background: rgb(216, 216, 216);
}

header h1 {
    font-size: 24px;
    padding: 15px;
}

main {
    justify-content: flex-start;
    flex: 1;
}

.nav-bar {
    display: none;
    position: fixed;
    flex-direction: column;
    background: rgb(255, 243, 219);
    height: min-content;
    width: 150px;
    gap: 2px;
}

.projects-list-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.projects-list-btn {
    display: flex;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 1px;
}

#new-project-input {
    width: 100px;
    height: 15px;
    padding: 2px 0px;
}

.sub-project-btn {
    padding-left: 30px;
    border: none;
}

.active {
    background: rgb(255, 230, 179);
}

button {
    color: black;
    background: rgb(255, 240, 204);
    display: block;
    word-wrap: break-word;
    justify-content: flex-start;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    padding: 5px 10px;
    border: none;
}

button:hover, .projects-container p:hover {
    cursor: pointer;
    transform: scale(1.01);
    background: rgb(255, 243, 219);
}

button:focus {
    outline: none;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 100%;
    border-left: 1px dotted rgb(172, 171, 171);
    overflow: auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}

.task-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(232, 232, 232);
    justify-content: space-evenly;
    width: 100%;
    font-size: 18px;
    background: white;
    border-radius: 4px;
    word-wrap: break-word;
}

.summary-info-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(184, 184, 184);
    padding: 5px 15px;
}

.summary-info-container p {
    display: flex;
    flex: 2;
}

.summary-info-container .task-name {
    flex: 1;
    justify-content: flex-end;
    margin-right: 15px;
}

.additional-info-container {
    display: none;
    justify-content: space-between;
    border: 1px solid rgb(184, 184, 184);
    padding: 15px;
}

.task-name-dropdown {
    cursor: pointer;
    position: relative;
    font-size: 15px;
}

.task-container:hover {
    box-shadow: -2px 2px 5px 0px gray;
}

#priority-one, #priority-two, #priority-three {
    display: flex; 
    gap: 10px;
    width: 95%;
    flex-wrap: wrap;
    padding: 20px 20px;
}

#task-list-one {
    border: none;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(135, 133, 133, 0.3);
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 600px;
    min-width: 320px;
    background: white;
    width: 100%;
    border-radius: 15px;
    border: 1px solid wheat;
}

.modal-header {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.modal-inputs {
    display: grid;
    justify-content: center;
    grid-template-columns: 2;
    grid-auto-flow: column;
    grid-gap: 2%;
    margin-right: 50px;
}

#close-modal {
    float: right;
    position: relative;
    top: -30px;
    left: -10px;
    font-size: 24px;
}

#close-modal:hover {
    cursor: pointer;
}

input[type="text"], input[type="date"] {
    border-radius: 5px;
    border: 1px solid rgb(131, 129, 129);
    padding: 8px;
    height: 10px;
    width: 180px;
}

input[type=submit] {
    margin-top: 15px;
    grid-row: 4;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    height: 25px;
    width: 70px;
}

input[type="date"]:hover {
    cursor: text;
}

input[type=submit]:hover {
    cursor: pointer;
}

input  {
    grid-column: 2;
}

label {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1000px) {

    .main-content {
        flex-direction: column;
        width: 100%;
    }

    .task-list {
        width: 100%;
        border: none;
    }

    #task-list-two, #task-list-three {
        border-top: 1px dotted black;
    }

    .modal-content {
        width: 300px;
        min-width: 300px;
    }

    .modal-inputs {
        margin: 0px;
    }
    footer {
        display: none;
    }
}