* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 100%;
}

header {
    height: 100px;
    color: white;
    background: black;
}

main {
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    width: 100%;
}

footer {
    height: 50px;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    max-width: 600px;
    min-width: 320px;
    padding: 0px 10px 10px 10px;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(135, 133, 133, 0.3);
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background: white;
    width: 100%;
}

.modal-header {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}



.modal-inputs {
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    grid-gap: 2%;
    width: 35%;
    height: 65%;
}

.close-modal {
    float: right;
    position: relative;
    top: -25px;
    left: -5px;
    font-size: 15px;
}

.close-modal:hover {
    cursor: pointer;
}

input[type=submit] {
    margin-top: 15px;
    grid-row: 4;
    grid-column: 2;
}

input[type="text"] {
    grid-column: 2;
}