* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 100%;
}

header {
    height: 100px;
    color: white;
    background: black;
}

main {
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    width: 100%;
}

footer {
    height: 50px;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 50%;
    max-width: 600px;
    min-width: 320px;
}

.modal {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(135, 133, 133, 0.3);
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background: white;
}

.modal-header {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.modal-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.close-modal {
    float: right;
    position: relative;
    top: -60%;
    left: -10px;
    font-size: 15px;
}

.close-modal:hover {
    cursor: pointer;
}